body{
    background-color: #8525F1;
}
div{
    color: #8525F1;
    text-align: center;
    margin-left: 25%;
    margin-top: 3%;
    background-color: rgba(255, 255, 255, 0.618);
    height: 90%;
    width: 50%;
}
a{
    color: #8525F1;
}
button{
    border: #8525F1;
    height: 40px;
    width: 100px;
    background-color: #8525F1;
    text-decoration: none;
    padding: 3px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.in-field{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 400px;
}